* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: "Kumbh Sans", sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 1rem 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.landing {
    min-height: 100vh;
    background-color: hsl(185, 75%, 39%);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.landing::before {
    content: url("/img/bg-pattern-top.svg");
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-70%, -50%) scale(.8);
}

.landing::after {
    content: url("/img/bg-pattern-bottom.svg");
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(70%, 50%) scale(.8);
}

header img {
    display: block;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.card {
    width: 100%;
    max-width: 400px;
    z-index: 999;
}

.details {
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    position: relative;
}

.profile-picture {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 5px solid white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-name {
    text-align: center;
    padding: 5rem 0 1rem 0;
}

.profile-name h2, .stats h2 {
    color: hsl(229, 23%, 23%);
    font-size: 1.2rem;
    font-weight: 700;
}

.profile-name span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    margin-left: .5rem;
}

.profile-name p {
    font-size: .9rem;
    color: hsl(227, 10%, 46%);
    margin: 1rem 0;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    border-top: 1px solid hsla(0, 0%, 59%, 0.466);
    text-align: center;
}

.stats p {
    font-size: .8rem;
    color: hsl(227, 10%, 46%);
    margin-top: .5rem;
    letter-spacing: 1px;
}

@media (min-width: 768px) {
    .landing::before {
        content: url("/img/bg-pattern-top.svg");
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%) scale(.8);
    }

    .landing::after {
        content: url("/img/bg-pattern-bottom.svg");
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%) scale(.8);
    }
}

@media (min-width: 1200px) {
    .landing::before {
        content: url("/img/bg-pattern-top.svg");
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-30%, -50%) scale(.8);
    }

    .landing::after {
        content: url("/img/bg-pattern-bottom.svg");
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(30%, 60%) scale(.8);
    }
}